body{
  background-image: url('game.jpg');
  background-size:2071px  1551px;
  animation:move 5s linear infinite;
}

.character{
  width: 100px;
  height: 200px;
  position:absolute;
  bottom: 0%;
  left: 10%;
  background-image: url('Shrek.webp');
  background-size: cover;
 
}

.enemy{
  width: 100px;
  height: 200px;
  position: reabsolute  ative;
  bottom: 100%;
  right: 100%;
  background-image: url('monke.png');
  background-size: cover;
  animation: attack 5s linear infinite;
}

.jump{
  animation: jump 1000ms forwards;
}




@keyframes  jump {
    50%{
      bottom: 60%;
    }
    100%{
      bottom: 0%;
      transform: rotate(-360deg);
    }
}
@keyframes move{
  0%{background-position:  0px}
  100%{background-position:  -100vw }
}
@keyframes attack{
  
}